@font-face {
    font-family: 'BraunLinear';
    src: url('fonts/BraunLinear-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'BraunLinear';
}

